<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="../styles/materialize.min.css">
  <link rel="stylesheet" type="text/css" href="../styles/materialicons.css">


</head>

<body>
<h1 style="text-align: center; margin-top: 10%"" >This is a Second Round question of GDG's recruitments</h1>
<h4 style="text-align: center; margin-top: 0%">Click here to see project ..</h4>

    <p><a href="restapi/new"><input style="margin-left: 45%" type="submit" value="Click Me" class="btn btn-lg- btn-primary btn-block"/></a></p>

<p style="text-align: center">Made by : Vinit Bodhwani</p>
<p style="text-align: center">Registeration No - 15BCE0719</p>


</div>

</body>

</html>
