<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="../../styles/materialize.min.css">
<link rel="stylesheet" type="text/css" href="../../styles/materialicons.css">



  </head>


<body>
<h1 style="text-align: center">Welcome</h1>

<h4 style="text-align: center"  >Enter company's symbol!<br> For eg - GOOG , CSCO , AMZN , MSFT , AAPL , FB etc.</h4>

<br><br>

<div class="container" style="text-align: center">
  <form action="/restapi/create" method="get" class="form-signin">

  <input  name="name" type="text" value="" placeholder="Company Symbol"><br>
    <p><input style="margin-left: 43%" type="submit" value="Search" class="btn btn-lg- btn-primary btn-block"/></p>
</form>


</div>

</body>

</html>
